<div class="container-fluid">
    <div class="w-75">
        <div>
            <h2>Welcome to Customer Module</h2>
        </div>
        <div class="m-2 p-2">
          <a class="btn btn-dark" routerLink="/"><button>Home</button></a>
        </div>
        <div class="mt-1 p-2">
            <div class="">
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore mollitia provident voluptates atque voluptatum asperiores quia modi temporibus obcaecati laudantium cupiditate ea, labore quam praesentium incidunt similique? Consectetur, repellat tempora.</p>
            </div>
            <div>
                <a routerLink="/customers/customer-list"><button>Employees List</button></a>
            </div>
        </div>
        <div class="mt-1 p-2">
            <div class="">
             <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore mollitia provident voluptates atque voluptatum asperiores quia modi temporibus obcaecati laudantium cupiditate ea, labore quam praesentium incidunt similique? Consectetur, repellat tempora.</p>
            </div>
            <div>
                <a routerLink="/customers/customer-details/5"><button>Employees Details</button></a>
            </div>
        </div>
    </div>

</div>
