<div class="container-fluid">
    <div class="mt5">
        <h3>Welcome to Stocks Module</h3>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur maxime beatae asperiores? Commodi pariatur ex architecto vel reiciendis consequuntur modi enim, ad in doloremque debitis vero velit quisquam perspiciatis consequatur!</p>

    </div>
    <a routerLink="/"><button>Home</button></a>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur nihil animi minus in reprehenderit vero neque recusandae, suscipit earum beatae ad ea, eligendi incidunt placeat vel! Nihil dolorem quis quia quibusdam! Similique adipisci accusamus modi iure ducimus beatae rerum aperiam veniam nisi. Quia reprehenderit dicta quam vel a ut?</p>
    </div>
    <div class="mb-10">
        <a routerLink="/stocks/stock-list"><button>Stock List</button></a>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur nihil animi minus in reprehenderit vero neque recusandae, suscipit earum beatae ad ea, eligendi incidunt placeat vel! Nihil dolorem quis quia quibusdam! Similique adipisci accusamus modi iure ducimus beatae rerum aperiam veniam nisi. Quia reprehenderit dicta quam vel a ut?</p>
    </div>
    <div>
        <a routerLink="/stocks/stock-details"><button>Stock List</button></a>
    </div>

</div>
